In [1]:
import numpy as np
import pandas as pd

In [168]:
train=pd.read_csv("train_ctrUa4K.csv")

In [118]:
test=pd.read_csv("test_lAUu6dG.csv")

In [119]:
train.shape , test.shape

((614, 13), (367, 12))

In [170]:
train.head()

,Loan_ID,Gender,Married,Dependents,Education,Self_Employed,ApplicantIncome,CoapplicantIncome,LoanAmount,Loan_Amount_Term,Credit_History,Property_Area,Loan_Status
0,LP001002,Male,No,0,Graduate,No,5849,0.0,NaN,360.0,1.0,Urban,Y
1,LP001003,Male,Yes,1,Graduate,No,4583,1508.0,128.0,360.0,1.0,Rural,N
2,LP001005,Male,Yes,0,Graduate,Yes,3000,0.0,66.0,360.0,1.0,Urban,Y
3,LP001006,Male,Yes,0,Not Graduate,No,2583,2358.0,120.0,360.0,1.0,Urban,Y
4,LP001008,Male,No,0,Graduate,No,6000,0.0,141.0,360.0,1.0,Urban,Y

In [167]:
pd.crosstab(train.Property_Area,train.Loan_Status)

Loan_Status     0    1
Property_Area
0              69  110
1              54  179
2              69  133

In [121]:
train.dtypes

Loan_ID               object
Gender                object
Married               object
Dependents            object
Education             object
Self_Employed         object
ApplicantIncome        int64
CoapplicantIncome    float64
LoanAmount           float64
Loan_Amount_Term     float64
Credit_History       float64
Property_Area         object
Loan_Status           object
dtype: object

In [122]:
train.isnull().sum()

Loan_ID               0
Gender               13
Married               3
Dependents           15
Education             0
Self_Employed        32
ApplicantIncome       0
CoapplicantIncome     0
LoanAmount           22
Loan_Amount_Term     14
Credit_History       50
Property_Area         0
Loan_Status           0
dtype: int64

In [123]:
train["Gender"].value_counts()

Male      489
Female    112
Name: Gender, dtype: int64

In [124]:
train[train["Loan_ID"]=='LP002943']

,Loan_ID,Gender,Married,Dependents,Education,Self_Employed,ApplicantIncome,CoapplicantIncome,LoanAmount,Loan_Amount_Term,Credit_History,Property_Area,Loan_Status
597,LP002943,Male,No,NaN,Graduate,No,2987,0.0,88.0,360.0,0.0,Semiurban,N

In [125]:
train[pd.isnull(train["Married"])]

,Loan_ID,Gender,Married,Dependents,Education,Self_Employed,ApplicantIncome,CoapplicantIncome,LoanAmount,Loan_Amount_Term,Credit_History,Property_Area,Loan_Status
104,LP001357,Male,NaN,NaN,Graduate,No,3816,754.0,160.0,360.0,1.0,Urban,Y
228,LP001760,Male,NaN,NaN,Graduate,No,4758,0.0,158.0,480.0,1.0,Semiurban,Y
435,LP002393,Female,NaN,NaN,Graduate,No,10047,0.0,NaN,240.0,1.0,Semiurban,Y

In [126]:
train["Dependents"].replace("NaN",np.NaN,inplace=True)

In [127]:
train["Dependents"].unique()

array(['0', '1', '2', '3+', nan], dtype=object)

In [128]:
train["Gender"]=train["Gender"].fillna("Male")

In [129]:
train.groupby("Gender")["Dependents"].value_counts()

Gender  Dependents
Female  0              80
        1              19
        2               7
        3+              3
Male    0             265
        2              94
        1              83
        3+             48
Name: Dependents, dtype: int64

In [130]:
train["Dependents"].fillna('0',inplace=True)

In [131]:
train["Married"].fillna("Yes",inplace=True)

In [132]:
train["Self_Employed"].fillna("No",inplace=True)

In [133]:
train["LoanAmount"].fillna(train.groupby(["Self_Employed"])["LoanAmount"].transform("median"),inplace=True)

In [134]:
train["Loan_Amount_Term"].value_counts()

360.0    512
180.0     44
480.0     15
300.0     13
84.0       4
240.0      4
120.0      3
36.0       2
60.0       2
12.0       1
Name: Loan_Amount_Term, dtype: int64

In [135]:
train["Loan_Amount_Term"].fillna(360,inplace=True)

In [136]:
train["Credit_History"].fillna(1,inplace=True)

In [137]:
train.dtypes

Loan_ID               object
Gender                object
Married               object
Dependents            object
Education             object
Self_Employed         object
ApplicantIncome        int64
CoapplicantIncome    float64
LoanAmount           float64
Loan_Amount_Term     float64
Credit_History       float64
Property_Area         object
Loan_Status           object
dtype: object

In [138]:
from sklearn.preprocessing import LabelEncoder

In [139]:
le1=LabelEncoder()
le2=LabelEncoder()
le3=LabelEncoder()
le4=LabelEncoder()
le5=LabelEncoder()
le6=LabelEncoder()
le7=LabelEncoder()

In [140]:
train["Gender"]=le1.fit_transform(train["Gender"])
train["Married"]=le2.fit_transform(train["Married"])
train["Education"]=le3.fit_transform(train["Education"])
train["Self_Employed"]=le4.fit_transform(train["Self_Employed"])
train["Property_Area"]=le5.fit_transform(train["Property_Area"])
train["Self_Employed"]=le6.fit_transform(train["Self_Employed"])
train["Loan_Status"]=le7.fit_transform(train["Loan_Status"])

In [141]:
train["Dependents"]=train["Dependents"].apply(lambda x : x.replace("+",""))

In [142]:
#train["Dependents"]=train["Dependents"].astype(int)
"3+".replace("+","")

'3'

In [143]:
train["Dependents"]=train["Dependents"].astype(int)

In [145]:
train.drop(labels="Loan_ID",axis=1,inplace=True)

In [147]:
from sklearn.model_selection import train_test_split

In [148]:
X=train.drop(labels="Loan_Status",axis=1)

In [149]:
y=train["Loan_Status"]

In [150]:
X_train,X_test,y_train,y_test=train_test_split(X,y,test_size=.2,random_state=1)

In [154]:
from sklearn.tree import DecisionTreeClassifier

In [155]:
dt=DecisionTreeClassifier()

In [156]:
dt.fit(X_train,y_train)

DecisionTreeClassifier(class_weight=None, criterion='gini', max_depth=None,
                       max_features=None, max_leaf_nodes=None,
                       min_impurity_decrease=0.0, min_impurity_split=None,
                       min_samples_leaf=1, min_samples_split=2,
                       min_weight_fraction_leaf=0.0, presort=False,
                       random_state=None, splitter='best')

In [157]:
dt.score(X_test,y_test)

0.6747967479674797

In [159]:
from sklearn.ensemble import RandomForestClassifier

In [164]:
rf=RandomForestClassifier(n_estimators=500)

In [165]:
rf.fit(X_train,y_train)

RandomForestClassifier(bootstrap=True, class_weight=None, criterion='gini',
                       max_depth=None, max_features='auto', max_leaf_nodes=None,
                       min_impurity_decrease=0.0, min_impurity_split=None,
                       min_samples_leaf=1, min_samples_split=2,
                       min_weight_fraction_leaf=0.0, n_estimators=5000,
                       n_jobs=None, oob_score=False, random_state=None,
                       verbose=0, warm_start=False)

In [166]:
rf.score(X_test,y_test)

0.7723577235772358

In [171]:
from sklearn.ensemble import AdaBoostClassifier

In [176]:
ab=AdaBoostClassifier(n_estimators=1000)
ab.fit(X_train,y_train)

AdaBoostClassifier(algorithm='SAMME.R', base_estimator=None, learning_rate=1.0,
                   n_estimators=1000, random_state=None)

In [177]:
ab.score(X_test,y_test)

0.7642276422764228

In [179]:
from sklearn import svm

In [185]:
cl=svm.SVC(gamma="scale")

In [186]:
cl.fit(X_train,y_train)

SVC(C=1.0, cache_size=200, class_weight=None, coef0=0.0,
    decision_function_shape='ovr', degree=3, gamma='scale', kernel='rbf',
    max_iter=-1, probability=False, random_state=None, shrinking=True,
    tol=0.001, verbose=False)

In [187]:
cl.score(X_test,y_test)

0.6747967479674797

In [ ]:
!pip install parquet